
{% extends 'mngmnt/starter.html' %}
{% load crispy_forms_tags %}

{% block title %}
Customers{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-4 col-12">
        <div class="h3">{{object}}</div>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'account:products' %}">Product</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{object}}</li>
            </ol>
          </nav>
        <img src="{{object.thumb.url}}" class="rounded col-12 my-2" alt="">
    </div>
    <div class="col-md-4 col-12 px-3 0 my-3  my-md-5 py-md-5">
        <h5>Product Information</h5>
        <div>name: <span class="float-end"  >${{object.name}}</span></div>
        <div>price: <span class="float-end"  >${{object.price}}</span></div>
        <div>desciption: <span class="float-end"  >{{object.description}}</span></div>
        <div>category: <span class="float-end"  >{{object.category}}</span></div>
        <div>updated: <span class="float-end"  >{{object.updated}}</span></div>
        
        <a class="btn btn-primary my-3 col=12" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit Product</a>
        <!-- <a class="btn btn-danger mx-2 my-3 col=12" href="">Delete Product</a> -->
    </div>
     <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
             
              <form action="/dash/products/{{object.pk}}/{{object.slug}}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ forms | crispy }}
                <div class="my-3 text-end">

                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" >Save changes</button>
                  
                </div>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}